@page "/"

<h1>Welcome to Zenon</h1>
<p>
    This is Contact Management Program helps users to view, add, edit and delete contacts. <br>
    The program is still under development, therefore the following features will be added in the future as I progress learning more about Entity Framework Core;
    <li>Guid Data Type for Id</li>
    <li>DateTime Type for BirthDate</li>
    <li>Ability to sort lists of contacts by last name or first name</li>
    <li>Confirmation box before deleting</li>
    <li>Error message if the user leaves any of the boxes as blank</li>
</p>

<h2>Development Process</h2>
<h5>March 25th 2022</h5>
<p>
    I was not familiar with Entity Framework and ASP.Net. MySQL was my one of the latest projects and most of the projects I have completed <br>
    was based on Windows Forms and UWP. For that reason I searched for the resources that I can easily learn Entity Framework.
</p>
<h5>March 26th 2022</h5>
<p>
    I kept searching for resources until 3.45 P.M. when I found c-sharpcorner.com and a helpful Youtube video, I stopped searching.<br>
    I practiced doing the same thing on various Visual Studio projects. However, I was running into server issues because <br>
    it was my first working on local database.At 10.45 P.M. Finally I have found my local host and connected into connectionStrings page and demo app worked.
</p>
<h5>March 27th 2022</h5>
<p>
    Today, I reverse engineered the demo application. I modified certain parts of the application and added new features based on my knowledge. <br>
    However, due to lack of knowledge on Entity Framework, it was difficult for me to write Id and BirthDate with Guid and DateTime data types.<br>
    Hopefully, as I progress more on Entity Framework, mistakes like these will no longer exist. I am going to push the application into my GitHub Account.
</p>
<h2>References</h2>
<p>
    While I am developing this web application, I have used the following sources to understand Entity Framework easily in a short amount of time; <br>
    <li><a href="https://www.c-sharpcorner.com/article/blazor-crud-app-using-entity-framework-core-in-net-5/">Blazor Server App CRUD With Entity Framework Core In .Net 5</a></li>
    <li><a href="https://www.youtube.com/watch?v=2GFNi2MVEf0">CRUD Using Blazor And Entity Framework Core in ASP.NET Core</a></li>
    <li><a href="https://docs.microsoft.com/en-us/ef/core/">Entity Framework Core - Microsoft Website</a></li>
    <li><a href="https://stackexchange.com/">Stack Exchange</a></li>
    <li><a href="https://www.w3schools.com/">W3 Schools</a></li>
</p>
